body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    padding-left: 10px; /* 左侧留白 */
    padding-right: 10px; /* 右侧留白 */
}

header {
    background-image: url('/static/img/header3.png');
    background-size: cover;
    background-position: center top;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #060000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #040101;
}

.section1,
.section2 {
    background-size: cover;
    background-position: center top;
    color: #fff;
    padding: 30px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    font-size: 18px;
}

.section1 {
    background-image: url('/static/img/back_1.png');
    text-align: center;
}

.section2 {
    background-image: url('/static/img/back_2.png');
    margin-top: 10px;
    text-align: left;
}

footer {
    background-color: #090000;
    color: #fff;
    padding: 20px;
    text-align: center;
}